name: Update RSS

on:
  schedule:
    - cron: '0 0 1,16 * *' # 每天运行一次
  workflow_dispatch: # 允许手动触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4 lxml

      - name: Run Scraper
        env:
          # 关键：将 Secret 注入为环境变量
          SCRAPERAPI_KEY: ${{ secrets.SCRAPERAPI_KEY }}
        run: python main.py

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add tar.xml
          git commit -m "Update RSS [skip ci]" || exit 0
          git push
